.Page {
  margin: 0;
  padding: 0; }

.Container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 1400px;
  overflow: hidden; }

.Header {
  padding-bottom: 169px;
  padding-top: 26px;
  background: url("../img/Main/BgTop.jpg") center no-repeat;
  background-size: cover; }

.Slide-RightBlock {
  background-image: url("../img/Main/HeaderSlideImage.jpg") center no-repeat;
  background-size: cover; }

.IncutFirst {
  background: #272727;
  color: #fff; }
